.new-tweet{
  display: flex;
  flex-direction: column;
  background-color:#f4f1ec;
  font-family: sans-serif;
  width: 90%;

}
#new-tweet form {
  display: flex;
  flex-direction: column;
}

#tweet-text{
  background-color: #f4f1ec;
  border: hidden;
  margin-bottom: 3px;
  border-bottom: 5px solid black;
}

#submit:hover {
  background-color: lightblue;
}

#submit {
  font-weight: bolder;
  border-style: groove;
  color: white;
  background-color: #122669;
}

.new-tweet-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "bungee", sans-serif;
  font-size: 23px;
  margin-top: 5px;
}

.invalid{
  color: red;
}

.error-message-box{
  display: flex;
  justify-content: center;
  color: red;
  border: 2.5px solid red;
  padding: 10px;
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 15px;
  margin-top: -10px;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;

}

.fa-exclamation-triangle{
  margin-right: 4.5px;
  margin-left: 4.5px;

}

@media only screen and (min-width: 1024px) {
  .new-tweet {
    width: 100%;
  } 
 }